<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/parts.html :: headerfiles">

</head>
<body>
<th:block th:replace="fragments/parts.html :: headerEx"></th:block>
<div class="containerRecipes  px-5 pb-5 pt-3 mt-3 row">
    <div class="col-6 px-0">
        <h3 class="newestTitle pl-3 pt-3 mb-3" th:text="${'Add food to your ' + meal.toLowerCase()}"></h3>
        <form th:action="@{'/food/search/{date}/{meal}' (date=${date}, meal=${meal})}" method="GET">
            <div class="container d-flex justify-content-start pr-0">

                <div class="input-group my-3 w-75"><input type="text" class="searchControl form-control input-text"
                                                               name="searchInput" autocomplete="off"
                                                               placeholder="Search food...."
                                                               aria-label="searchI" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-warning btn-lg py-0" type="submit"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>


            </div>


        </form>
        <div th:if="${foodSearchList != null && foodSearchList.size()>0}">
            <p th:each="foodItem : ${foodSearchList}">
                <a
                   class="foodLink authorInf pl-4 d-inline authorA" th:text="${foodItem}"></a>

            </p>
        </div>
    </div>
    <div id="foodDetailContainer" style="display: none" class="col-6 mt-5 pt-5">

    </div>
    <div id="loaderDiv" style="display: none" class="col-6 text-center margin-loader">
        <span class="loader"></span><br>
        <div class="loadingText">Loading ...</div>
    </div>
</div>
<span id="mealId" hidden th:text="${meal}"></span>
<span id="dateId" hidden th:text="${date}"></span>
<th:block th:replace="fragments/parts.html :: footer"></th:block>
<script type="text/javascript" th:src="@{/add-food.js}"></script>
</body>
</html>

