<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/parts.html :: headerfiles">

</head>
<body>
<th:block th:replace="fragments/parts.html :: headerEx"></th:block>

<div class="container editContainer mt-0 pb-5">
    <h1 class="h1 text-center editT pt-5 py-3">Update your profile</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/profile/edit" method="POST" enctype="multipart/form-data" class="editForm">
                <div class="form-row">
                    <div class="col-6">
                        <label for="height">Height (cm)</label>
                        <input type="number"
                               min="100"
                               class="form-control"
                               id="height"
                               name="height"
                               required
                               th:value="(${profile.getHeight()} != null ? ${profile.getHeight()} : '')"
                               placeholder="Enter your height in cm">
                    </div>
                    <div class="col-6">
                        <label for="weight">Weight (kg)</label>
                        <input type="number"
                               min="1"
                               class="form-control"
                               id="weight"
                               name="weight"
                               required
                               th:value="(${profile.getWeight()} != null ? ${profile.getWeight()} : '')"
                               placeholder="Enter your weight in kgs">
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-6">
                        <label for="age">Age</label>
                        <input type="number"
                               min="1"
                               max="99"
                               class="form-control"
                               id="age"
                               name="age"
                               th:value="(${profile.getAge()} != null ? ${profile.getAge()} : '')"
                               required
                               placeholder="Enter your age">
                    </div>
                    <div class="col-6">
                        <label>Sex</label>
                        <select name="sex" class="form-control" required>
                            <option value="1"  th:selected="${profile.getSex() != null && profile.getSex().toString().equalsIgnoreCase('MALE')}">Male</option>
                            <option value="0" th:selected="${profile.getSex() != null && profile.getSex().toString().equalsIgnoreCase('FEMALE')}">Female</option>
                        </select>
                    </div>
                </div>
                <div class="mt-4 mb-2">Specific Goal</div>
                <div class="form-group form-check-inline " th:each="goal : ${goals}">

                    <label>
                        <input type="radio" name="goal" class="form-control form-check-input "
                               th:text="${goal}" th:value="${goal}" style="height: 1vw;" th:checked="${profile.getGoal().toString().equals(goal.toString())}">
                    </label>

                </div>

                <div class="form-row">
                    <div class="col-6">
                        <label for="goalWeight">Goal weight</label>
                        <input type="number"
                               min="1"
                               class="form-control"
                               id="goalWeight"
                               name="goalWeight"
                               required
                               th:value="(${profile.getGoalWeight()} != null ? ${profile.getGoalWeight()} : '')"
                               placeholder="Enter your goal weight in kgs">
                    </div>
                    <div class="col-6">
                        <label>Activity</label>
                        <select name="activity" class="form-control" required>
                            <option
                                    th:each="activity : ${activities}"
                                    th:value="${activity}"
                                    th:text="${activity}"
                                    th:selected="${profile.getActivity() != null && profile.getActivity().toString().equalsIgnoreCase(activity.toString())}"
                            >
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="images">Upload picture of yourself</label>
                    <input type="file" multiple
                           class="d-block uploadButton"
                           id="images"
                           name="images"
                           style="background-color: transparent;"
                           placeholder="Upload picture of yourself" required>
                </div>

                <input type="hidden" name="endUser" th:value="${#request.getRemoteUser()}">
                <button type="submit" class="btn formBtnJump rounded-0 mt-2 btn-block">OK</button>

            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/parts.html :: footer"></th:block>

</body>
</html>
