<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/parts.html :: headerfiles">

</head>
<body>
<th:block th:replace="fragments/parts.html :: headerEx"></th:block>

<div class="container editContainer mt-0 pb-5">
    <h1 class="h1 text-center editT pt-5 py-3" th:text="${'Edit recipe ' + editDTO.getRecipe().getTitle()}"></h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/recipes/editRecipe" method="POST" enctype="multipart/form-data" class="editForm">
                <div class="form-group">
                    <label for="title">Recipe title</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           name="title"
                           th:value="(${editDTO.getRecipe()} != null ? ${editDTO.getRecipe().getTitle()} : '')"
                           required
                           placeholder="Enter recipe title">
                </div>
                <div class="form-group">
                    <label for="desc">Recipe description</label>
                    <input type="text"
                           class="form-control"
                           id="desc"
                           name="description"
                           th:value="(${editDTO.getRecipe()} != null ? ${editDTO.getRecipe().getDescription()} : '')"
                           required
                           placeholder="Description">
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <label>Meal</label>
                        <select name="meal" class="form-control" required>

                            <option
                                    th:selected="${editDTO.getRecipe().getMeal() != null && editDTO.getRecipe().getMeal().name() == meal.name()}"
                                    th:each="meal : ${contentDTO.getAllMeals()}"
                                    th:value="${meal.name()}"
                                    th:text="${meal.name()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div>Ingredients
                        <button id="addRowIngr" type="button" class="modifiedB">+</button>
                    </div>
                    <div th:each="ingr : ${editDTO.getRecipe().getRecipeIngredientList()}" class="d-flex mb-3">

                        <input type="number" name="ingredientQuantities" class="form-control m-input mr-2" min="0"
                               th:value="${ingr.getQuantity()}">
                        <select name="ingredientMeasurements" class="form-control mr-2">

                            <option
                                    th:each="measurement : ${contentDTO.getAllMeasurements()}"
                                    th:selected="${ingr.getMeasurement() != null && ingr.getMeasurement().toString()== measurement}"
                                    th:value="${measurement}"
                                    th:text="${measurement}">
                            </option>
                        </select>
                        <input type="text" name="ingredientNames" class="form-control m-input" placeholder="Enter title"
                               th:value="${ingr.getName()}" autocomplete="off">
                        <br>
                    </div>
                    <div id="newRowIngr"></div>
                </div>
                <div>Prep time</div>
                <div class="form-group">

                    <div class="row">
                        <input type="number" class="form-control col-4 ml-4 mr-2" id="prep" min="0"
                               name="prepH" placeholder="hours" th:value="${editDTO.getPrepH()}">

                        <input type="number" class="form-control col-4" id="prepMin" name="prepM" min="0" max="59"
                               th:value="${editDTO.getRecipe().getPrepInMins()%60}" placeholder="mins">
                    </div>
                </div>
                <div>Cook time</div>
                <div class="form-group">

                    <div class="row">
                        <input type="number" class="form-control col-4 ml-4 mr-2" id="cook" min="0" step="1"
                               th:value="${editDTO.getCookH()}"
                               name="cookH" placeholder="hours">

                        <input type="number" class="form-control col-4" id="cookMin" name="cookM" min="0" max="59"
                               th:value="${editDTO.getRecipe().getCookInMins()%60}"
                               placeholder="mins">
                    </div>
                </div>
                <div class="form-group">
                    <label for="caloriesRecipe">Calories</label>
                    <input type="number"
                           class="form-control"
                           id="caloriesRecipe"
                           name="tagList"
                           th:value="${editDTO.getRecipe().getCaloriesInRecipe()}"
                           placeholder="Calories" required>
                </div>
                <div class="form-group">
                    <div>Instructions
                        <button id="addRow" type="button" class="modifiedB">+</button></div>
                    <div th:each="ins : ${editDTO.getRecipe().getInstructions()}">
                        <input type="text" name="instructions" class="form-control m-input" th:value="${ins.getDescription()}"
                               placeholder="Enter title" autocomplete="off">
                        <br>

                    </div>

                    <div id="newRow"></div>
                </div>

                <input type="hidden" name="author" th:value="${#request.getRemoteUser()}">
                <input type="hidden" name="recipeId" th:value="${editDTO.getRecipe().getId()}">
                <button type="submit" class="btn formBtnJump rounded-0 mt-2 btn-block">SAVE RECIPE</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/parts.html :: footer"></th:block>
<script th:inline="javascript">
    /*<![CDATA[*/
    var modelAttributeValue = /*[[${measurements}]]*/ ;

    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/recipeDetail.js}"></script>

</body>
</html>
