<div class="row">
    <div class="col-6">
        <img th:src="${foodDetail.getFoodImage()}" alt="">
    </div>
    <div class="col-6">
        <div th:text="${foodDetail.getFoodName()}" class="ml-0 py-1 foodTitleContainer"></div>
        <div th:text="${foodDetail.getCalories() + ' kcal / serving'}" class="kcalText mb-3"></div>
        <div class="nutrientsInfoText">
            <div th:text="${ 'Protein (gr): ' + foodDetail.getProteinGrams()}"></div>
            <div th:text="${ 'Fat (gr): ' + foodDetail.getFatGrams()}"></div>
            <div th:text="${ 'Carbs (gr): ' + foodDetail.getCarbGrams()}"></div>
            <div th:text="${ 'Fiber (gr): ' + foodDetail.getFiberGrams()}"></div>
        </div>
    </div>
</div>
<form th:action="@{'/food/saveFood/{date}/{meal}/{foodId}' ( date=${date}, meal=${meal}, foodId=${foodDetail.getFoodId()})}" method="POST">
    <div class="row mt-4">
        <div class="col-12 d-flex mb-3 px-5">

            <input type="number" name="ingredientQuantities" class="form-control m-input mr-2" min="0"
                   placeholder="Enter quantity"
                   required>
            <select name="ingredientMeasurements" class="form-control mr-2" required>

                <option
                        th:each="measurement : ${foodDetail.getMeasures()}"
                        th:value="${measurement}"
                        th:text="${measurement}">
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div>
                <button type="submit"
                        class="btn formBtnSave mt-2 d-block round-0 px-5">ADD
                </button>
            </div>
        </div>
    </div>
</form>
