<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/parts.html :: headerfiles">

</head>
<body>
<th:block th:replace="fragments/parts.html :: headerEx"></th:block>
<div class="row">
    <div class="col-6">
        <div id="calendar"></div>
    </div>
    <div class="col-6">
        <div id="diaryInfo" style="display: none;">

        </div>
    </div>
</div>

<th:block th:replace="fragments/parts.html :: footer"></th:block>
<script type="text/javascript" th:src="@{/home.js}"></script>
</body>
</html>

