<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/parts.html :: headerfiles">

</head>
<body>
<th:block th:replace="fragments/parts.html :: headerEx"></th:block>
<div class="row m-0">
    <div class="col-5 ml-4">
        <div id="calendar"></div>
    </div>
    <div class="col-6 ml-4">
        <div class="containerLogDay  px-5 pb-5 pt-3 mt-3 ">
            <div id="diaryInfo" style="display: none;">

            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <form
                        th:method="DELETE"  class="formDel">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/parts.html :: footer"></th:block>
<script type="text/javascript" th:src="@{/home.js}"></script>
</body>
</html>

