<div th:text="${day.getDateForDay()}" class="date-title mt-2 mb-3" xmlns="http://www.w3.org/1999/html"></div>
<div class="caloriesInfoContainer mb-5">
    <div>Daily goal: <span class="caloriesInfoSpan" th:text="${day.getTargetCalories() + ' kcal'}"></span></div>
    <div>Total: <span class="caloriesInfoSpan" th:text="${day.getTotalCalories() + ' kcal'}"></span></div>
    <div>Remaining: <span class="caloriesInfoSpan"
                          th:text="${(day.getTargetCalories()-day.getTotalCalories()) + ' kcal'}"></span></div>
</div>


<div th:each="meal : ${day.getMealList()}" class="mb-5">
    <details open>
        <summary>
            <div th:text="${meal.getName()}" class="mealsInfoContainer"></div>
        </summary>
        <div class="nutrientsInfoText mb-3">Total: <span th:text="${meal.getCaloriesInMeal() + ' kcal'}"
                                                         class="caloriesInfoSpan"></span></div>
        <div th:if="${meal.getIngredientList().size()>0}">
            <div th:each="ingr : ${meal.getIngredientList()}">
                <div th:text="${ingr.getFormatted()}" class="authorInf d-inline"></div>
                <span th:text="${' (' + ingr.getCalories() + 'kcal)'}" class="caloriesInfoSpan"></span>
                <a th:href="@{'/food/edit/{date}/{meal}/{foodName}/{ingrId}' (date=${localDate}, meal=${meal.getName()}, foodName=${ingr.getName()}, ingrId=${ingr.getIngredientId()})}"
                   class="btn rounded-pill btnEdit"><i class="fa-solid fa-pen"></i></a>
                <button type="submit" class="btn rounded-pill btnDelete open-AddBookDialog" data-toggle="modal" data-th-id="${ingr.getIngredientId()}" data-th-date="${localDate}" data-th-meal="${meal.getName()}" data-target="#exampleModalCenter"><i
                        class="fa fa-trash"></i></button>
            </div>
        </div>
        <div th:if="${meal.getIngredientList().size()<=0}">
            <div th:text="${ 'You have not added anything for ' + meal.getName().toLowerCase()}"></div>
        </div>
        <div>
            <a th:href="@{'/food/addFood/{date}/{meal}' (date=${localDate}, meal=${meal.getName()})}"
               class="btn addBtn rounded-0 mt-1 ">ADD FOOD</a>
        </div>
    </details>
</div>

<!-- Modal -->
<div class="modal fade hide fade2 customTransition" id="infoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close d-flex justify-content-end mt-1" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="pr-3">&times;</span>
            </button>
            <div id="contentModalBody" class="modal-body info-message pt-3 pb-5 px-5" th:text="${infoMessage}">
            </div>

        </div>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var totalCalories = /*[[${totalCalories}]]*/ ;
    var targetCalories = /*[[${targetCalories}]]*/ ;
    var infoMessage = /*[[${infoMessage}]]*/
    var status = /*[[${status}]]*/
    /*]]>*/
</script>
